.Register {
    width: 400px;
    height: 400px;
    background-color: rgb(135, 147, 147);
    border: 2px solid rgb(7, 5, 2);
    margin-left: 400px;
    margin-top: 90px;
}
 
.Register1 {
    width: 100px;
    height: 20px;
    background-color: rgb(31, 36, 177);
    border: 2px solid rgb(35, 160, 108);
    display: flex;
    margin-left: 140px;
} 

.btnNumber  {
    background: blue;
    width: 200px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    color: white;
}

.btnVote{
    background: blue;
    width: 200px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    color: white;
}

